{% extends 'base.html.twig' %}

{% block title %}Snowtricks - V&eacute;rification adresse courriel{% endblock %}

{% block body %}

    {% block form %}
    {{ form_start(form) }}

    <div class="columns is-mobile">
        <div class="column is-10 is-offset-1">

            <div class="hero is-info">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <h1 class="title">
                            Changement mot de passe
                        </h1>
                    </div>
                </div>
            </div>

            <div class="section">Entrez <span class="has-text-weight-semibold">l'adresse courriel utilis&eacute;e
                lors de l'inscription</span>, puis cliquez sur le lien pr&eacute;sent dans le message
                que vous trouverez dans votre bo&icirc;te de r&eacute;ception. Cela vous renverra sur un formulaire de cr&eacute;ation
                d'un nouveau mot de passe.
            </div>

            <div class="section column is-6">

                <div class="field is-horizontal">

                    <div class="field-label is-normal">
                        {{ form_label(form.email, 'Adresse: ') }}
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="field">
                    <div class="control">   <!-- Submit -->
                        {{ form_widget(form.submit, {'attr': {'class': 'button is-warning'}, 'label': 'Envoyer'}) }}
                    </div>
                </div>

            </div>

        </div>
    </div>



    {{ form_end(form) }}
    {% endblock %}

{% endblock %}
