{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {% if error is not null %}
        {{ error.message }}
    {% endif %}


    {% block form %}
        {{ form_start(form) }}

        <div class="columns is-mobile">
            <div class="column is-6 is-offset-1">


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.password, 'Mot de passe')  }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.password, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.password) }}
                            </div>
                            <p class="help is-warning">Le mot de passe doit se composer d'au moins 8 caractères, dont
                                au minimum 1 lettre majuscule, 1 chiffre, et ne comporter aucun espace.</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.password2, 'Confirmer : ')  }}
                        {{ form_errors(form.password2) }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.password2, {'attr': {'class': 'input'}}) }}
                            </div>
                            <p class="help is-warning">Tapez à nouveau le mot de passe.</p>
                        </div>
                    </div>
                </div>

                <button type="submit">Soumettre</button>

            </div>
        </div>

        {{ form_end(form) }}
    {% endblock %}

{% endblock %}