{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Réinitialisation du mot de passe{% endblock %}

{% block body %}

    {% block form %}
        {{ form_start(form) }}

        <div class="columns is-mobile">
            <div class="column is-5 is-offset-1">


                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.plainPassword.first, 'Mot de passe')  }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                            <p class="help is-danger">Le mot de passe doit se composer d'au moins 8 caractères, dont
                                au minimum 1 lettre majuscule, 1 chiffre, et ne comporter aucun espace.</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        {{ form_label(form.plainPassword.second, 'Confirmer : ')  }}
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input'}}) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>
                            <p class="help is-danger">Tapez à nouveau le mot de passe.</p>
                        </div>
                    </div>
                </div>

                {{ form_widget(form.submit, {'attr': {'class': 'button is-warning'}, 'label': 'Envoyer'}) }}

            </div>
        </div>

        {{ form_end(form) }}
    {% endblock %}

{% endblock %}